{% extends 'layout.html.twig' %}

{% block title %}Detail{% endblock %}

{% block main %}

   <div class="container">
      <a href="{{ path('projet') }}" class="btn btn-sm no-shadow-focus mt-3"><i class="fas fa-chevron-left"></i> Retour</a>
      <h1 class="text-center mt-4">{{ project.title }}</h1>
      <div class="my-4">
         <p>{{ project.description | raw }}</p>
      </div>

      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

         <ol class="carousel-indicators">
            {% for image in project.images %}
               <li data-target="#carouselExampleIndicators"
                   data-slide-to="{{ loop.index0 }}" {% if loop.index == 1 %} class="active" {% endif %}></li>
            {% endfor %}
         </ol>

         <div class="carousel-inner">
            {% for image in project.images %}
               <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                  <img src="{{ asset('uploads/images/' ~ image.image) | imagine_filter('sizeOne') }}"
                       class="d-block" alt="slide">
               </div>
            {% endfor %}
         </div>
         {% if project.images | length > 1 %}
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
               <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
               <span class="carousel-control-next-icon" aria-hidden="true"></span>
               <span class="sr-only">Suivant</span>
            </a>
         {% endif %}
      </div>
   </div>

{% endblock %}
