{% extends 'base.html.twig' %}
{% block title 'Mes services' %}
{% block main %}
   <div class="container-fluid mt-4 service">
      <header class="header">
         <img src="{{ asset('uploads/images/banner.png') }}" alt="Mes Services">
      </header>
      {% for service in services %}
         <article class="row my-5 {{ loop.index % 2 == 0 ? 'odd' : '' }}">
            <div class="col-md-4 col-12">
               <img class="m-0" src="{{ asset('uploads/images/' ~ service.image) | imagine_filter('sizeOne') }}"
                    alt="{{ service.name }}">
            </div>
            <div class="col-md-8 col-12 mt-3 body-service">
               <h2>{{ service.name }}</h2>
               <p>{{ service.description | raw | nl2br }}</p>
            </div>
         </article>
         {% if loop.index == 1 %}
            {% include 'parts/callToAction.html.twig' %}
         {% endif %}
      {% endfor %}
   </div>
{% endblock %}
