<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Damien Louvrier - {% block title %}{% endblock %}</title>

   {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
   {% endblock %}
</head>
<body>

{% for label, messages in app.flashes %}
   {% for message in messages %}
      <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
         <div class="toast-header {{ label }}">
            <strong class="mr-auto">{{ label }}</strong>
         </div>
         <div class="toast-body">
            {{ message }}
         </div>
      </div>
   {% endfor %}
{% endfor %}

{% block header %}
{% endblock %}

{% include 'parts/_navbar.html.twig' %}

{% block main %}{% endblock main %}

{% include 'parts/_footer.html.twig' %}

{% block javascripts %}
   {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
